<p style="color: green"><%= notice %></p>

<% content_for :title, "Microposts" %>

<h1>Microposts</h1>

<div id="microposts">
  <% @microposts.each do |micropost| %>
    <div>
      <h3>
        From: <%= micropost.user.name %>
      </h3>

      <h4>
        <%= micropost.content %>
      </h4>

      <p>
        <%= link_to "Show this micropost", micropost %>
      </p>
    </div>
    <hr>

  <% end %>
</div>

<%= link_to "New micropost", new_micropost_path %>
